[user]
	name = Catalin Patulea
	email = cat@vv.carleton.ca
[log]
	decorate = true
[color]
        ui = true
        diff = true
[diff "color"]
        new = bold green
        old = bold red
        frag = bold yellow
        meta = bold white blue
        whitespace = bold magenta white
[diff]
        renamelimit = 1000

[sendemail]
	smtpencryption = ssl
	smtpserver = smtp.gmail.com
	smtpserverport = 465
	smtpuser = cronos586
	chainreplyto = false
	confirm = always

[format]
	signoff = true
