[user]
	email = catalinp@google.com
[color]
        ui = false
        diff = true
[diff "color"]
        new = bold green
        old = bold red
        frag = bold yellow
        meta = bold white blue
        whitespace = bold magenta white
[diff]
        renamelimit = 1000
